.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2c7aee;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
.ayah {
    margin-top: 20px;
    font-size: 18px;
}
.metadata {
    font-size: 14px;
    color: #6c757d;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
    margin-right: 10px;
}
.search-container {
    margin-bottom: 20px;
}