body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

h1 {
    font-family: 'Amiri', serif;
    color: #3498db;
    margin-bottom: 20px;
    text-align: center;
}

#surahSelect {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='rgba(52, 152, 219, 1)' d='M7 10l5 5 5-5z'/%3e%3c/svg%3e") no-repeat right 10px center;
    padding-right: 30px;
}

#ayahContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    counter-reset: ayah-counter;
}

.ayahDiv {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    position: relative;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}

.ayahDiv:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ayahDiv::before {
    content: counter(ayah-counter) ".";
    counter-increment: ayah-counter;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 18px;
    color: #777;
}

.ayahDiv p {
    font-size: 22px;
    font-family: 'Amiri', serif;
    direction: rtl;
    margin-bottom: 15px;
    color: #2c3e50;
}

#audio-controls {
    margin-top: 30px;
    text-align: center;
}

#main-audio {
    width: 80%;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playing {
    background-color: #e0f2f7;
}

@media (max-width: 768px) {
    #ayahContainer {
        grid-template-columns: 1fr;
    }
}